@light-blue:   hsl(190, 50%, 65%);
@light-yellow: desaturate(#fefec8, 10%);
@dark-yellow:  desaturate(darken(@light-yellow, 10%), 40%);
@darkest:      hsl(20, 0%, 15%);
@dark:         hsl(190, 20%, 30%);
@medium:       hsl(10, 60%, 30%);
@light:        hsl(90, 40%, 20%);
@lightest:     hsl(90, 20%, 90%);
@highlight:    hsl(80, 50%, 90%);
@blue:         hsl(210, 60%, 20%);
@alpha-blue:   hsla(210, 60%, 40%, 0.5);
.box-shadow (@x, @y, @blur, @alpha) {
  @value: @x @y @blur rgba(0, 0, 0, @alpha);
  box-shadow:         @value;
  -moz-box-shadow:    @value;
  -webkit-box-shadow: @value;
}
.border-radius (@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

.border-radius (@radius, bottom) {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  -moz-border-top-right-radius: 0;
  -moz-border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
}
.border-radius (@radius, right) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  -moz-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
}
.box-shadow-inset (@x, @y, @blur, @color) {
  box-shadow: @x @y @blur @color inset;
  -moz-box-shadow: @x @y @blur @color inset;
  -webkit-box-shadow: @x @y @blur @color inset;
}
.code () {
  font-family: 'Bitstream Vera Sans Mono',
               'DejaVu Sans Mono',
               'Monaco',
               Courier,
               monospace !important;
}
.wrap () {
  text-wrap: wrap;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
#example {
  float: right;
  font-size: 12px;
  margin: 0;
  padding: 0;
  width: 500px;
  pre {
    margin: 0;
    text-shadow: 0 -1px 1px @darkest;
    margin-top: 20px;
    background-color: desaturate(@darkest, 8%);
    border: 0;
    width: 450px;
    color: lighten(@lightest, 2%);
    background-repeat: repeat;
    padding: 15px;
    border: 1px dashed @lightest;
    line-height: 15px;
    .box-shadow(0, 0px, 15px, 0.5);
    .code;
    .border-radius(2px);
    code .attribute, code .keyword { color: hsl(40, 50%, 70%) }
    code .variable  { color: hsl(120, 10%, 50%) }
    code .element   { color: hsl(170, 20%, 50%) }

    code .string, .regexp { color: hsl(75, 50%, 65%) }
    code .class { color: hsl(40, 40%, 60%); font-weight: normal }
    code .id { color: hsl(50, 40%, 60%); font-weight: normal }
    code .comment { color: rgba(255, 255, 255, 0.2) }
    code .number, .color { color: hsl(10, 40%, 50%) }
    code .class, code .mixin, .special { color: hsl(190, 20%, 50%) }
    #time { color: #aaa }
  }
}


#example p {
  font-size: 18px;
  color: @blue;
  font-weight: bold;
  text-shadow: 0px 1px 1px @lightest;
}