---
page:
  title: Cheatsheet Boilerplate
  subtitle: A Toolkit Component
  brand: Cheatsheet
  stylesheet: cheatsheet.css
  left-links:
    -
      text: Docs
      href: http://assemble.github.com/toolkit-cheatsheet/docs.html

  right-links:
    -
      text: Docs
      href: http://assemble.github.com/toolkit-cheatsheet/docs.html
    -
      text: Github Repo
      href: http://assemble.github.com/toolkit-cheatsheet/docs.html
    -
      text: Assemble
      href: https://github.com/assemble/assemble
---


{{#grid.container}}
<div class="container">

  {{#rows}}
  <div class="row">

    {{#spans}}
    <div class="span{{columns}}">
      test
      {{#content}}

        {{#if html}}{{{html}}}{{/if}}
        {{#if md}}{{{md md}}}{{/if}}
        {{#if markdown}}
          {{#markdown}}
            {{this.markdown}}
          {{/markdown}}
        {{/if}}

      {{/content}}

    </div>
    {{/spans}}

  </div>
  {{/rows}}

</div>
{{/grid.container}}


<div class="container-fluid">

  {{#cheatsheet}}
    {{> cheatsheet-accordion }}
  {{/cheatsheet}}

</div><!-- /container -->