---
page:
  title: Cheatsheet Boilerplate
  subtitle: A Toolkit Component
  brand: Cheatsheet
  stylesheet: cheatsheet.css
  right-links:
    -
      text: Github Repo
      href: https://github.com/assemble/toolkit-cheatsheet
    -
      text: Toolkit
      href: https://github.com/assemble/toolkit
    -
      text: Assemble
      href: https://github.com/assemble/assemble
---

<div class="container-fluid">

  {{#cheatsheet}}
    {{> accordion }}
  {{/cheatsheet}}

</div><!-- /container -->