---
page:
  title: Cheatsheet Boilerplate
  subtitle: A Toolkit Component
  brand: Cheatsheet
  stylesheet: cheatsheet.css
  left-links:
    -
      text: Docs
      href: http://assemble.github.com/toolkit-cheatsheet/docs.html

  right-links:
    -
      text: Docs
      href: # http://assemble.github.com/toolkit-cheatsheet/docs.html
    -
      text: Github Repo
      href: http://assemble.github.com/toolkit-cheatsheet/docs.html
    -
      text: Assemble
      href: https://github.com/assemble/assemble
---

<div class="container-fluid">

  {{#cheatsheet}}
    {{> accordion }}
  {{/cheatsheet}}

</div><!-- /container -->